<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Audrey's</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/table.css">
    <link href="https://fonts.googleapis.com/css?family=Crafty+Girls&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">



  </head>
  <body>

  <div class="sidenav">

    <nav>
      <ul id = "shop-title">
       Audrey's shop 🐹
      </ul>

      <ul>
        <li>
          <a href="/products/new">add product </a>
        </li>
        <li>
          <a href="/products">all products</a>
        </li>
        <li>
          <a href="/farms">all farms</a>
        </li>
      </ul>
    </nav>

  </div>

    <div class="container">

    <%= yield %>

    </div>

  </body>
</html>
