<form class="add-farm" action="/farms/<%=@farm.id%>" method="post">
  <label for="farm-name"> Farm name: </label>
  <input type="text" name="name" id="farm-name" value="<%= @farm.name%>" required>

  <br/>

  <label for="farm-address"> Address: </label>
  <input type="text" name="address" id="farm-address" value="<%= @farm.address%>" required>

  <br/>


  <label for="farm-phone-num"> Phone number: </label>
  <input type="number" name="phone_num" id="farm-phone-num" value="<%= @farm.phone_num%>" required>

  <br/>


  <input type="submit" value="Update Farm">
</form>
