form.form input.text, form.form textarea.standard, form.form select, form.form input.date {
   background-color:#FEFDFE;
   border:solid 1px #7F7770;
   font-size:13px;
   color:#454851;
   -moz-border-radius:15px;
   -webkit-border-radius:15px;
   border-radius:15px;
   padding-top:5px;
   padding-bottom:5px;
   padding-left:5px;
   padding-right:5px;
}
form.form p label {
   font-size:14px;
   color:#454851;
   font-weight:normal;
   padding-top:3px;
   padding-bottom:3px;
}
form.form p.submit input {
   background-color:#FFFFFF;
   border:solid 1px #A9A9A9;
   font-size:16px;
   color:#454851;
   font-weight:bold;
   padding-top:10px;
   padding-bottom:10px;
   padding-right:20px;
   padding-left:20px;
   -moz-border-radius:15px;
   -webkit-border-radius:15px;
   border-radius:15px;
}
form.form p.submit {
   margin-top:1px;
   margin-bottom:2px;
   text-align:right;
}
form.form p.required label, form.form span.required label {
    background:none !important;
    font-weight:normal;
}
form.form p.required label.field-label:after {
    content:"*";
    color: #FAFAFA;
}
form.form p label {
float:none;text-align:left}
form.form span.value {
margin-left:0;}
form.form p.submit {
margin-left:6px;}

 </style>
