
.form {
    background-color: #FEFDFE;
    border: solid 1px #7F7770;
    font-size: 13px;
    color: #454851;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 69%;
    margin-top: 50px;
    position: relative;
}


.form label {
   font-size:14px;
   color:#454851;
   font-weight:normal;
   margin: 10px;
   padding-top:3px;
   padding-bottom:3px;
}
.form select {
   background-color:#FFFFFF;
   border:solid 1px #A9A9A9;
   font-size:10px;
   color:#454851;
   padding:10px;
   border-radius:5px;
   margin-bottom:5px;

}

.form input {
   background-color:#FFFFFF;
   border:solid 1px #A9A9A9;
   font-size:10px;
   color:#454851;
   padding:5px;
   border-radius:5px;
   margin-bottom:5px;

}

.add-product, .add-farm{
  margin-top: 10px;
}


.submit-button input{
  background: linear-gradient(to bottom,#eee8e4 0%, #eae3dd 40%, #e5ddd6 100%);
  font-weight: 200;
  font-size: 15px;
  margin-bottom: 2px;
  position: sticky;
  top: 10px;
  margin-right: 10px;
  left: 50%;
  }




 #submit {
   background: linear-gradient(to bottom,#eee8e4 0%, #eae3dd 40%, #e5ddd6 100%);
   font-weight: 200;
   font-size: 15px;
   margin-bottom:2px;
   position: sticky;
   top: 10px;
   margin: 10px;
   display: inline-block;
   display: flex;


}

  #delete {
    background: linear-gradient(to bottom,#eee8e4 0%, #eae3dd 40%, #e5ddd6 100%);
    font-weight: 200;
    font-size: 15px;
    margin-bottom:2px;
    position: sticky;
    top: 10px;
    margin: 10px;
    display: inline-block;
    border:solid 1px #A9A9A9;
  }

  form.deleteButton {
    bottom: 10px;
    position: absolute;
    left: 150px;
}
table.listTable.hamster {
    position: relative;
}

table.listTable.hamster:after {
    content: "";
    position: absolute;
    width: 170px;
    height: 170px;
    background: url(hamster.gif);
    top: -138px;
    background-size: contain;
    right: 0;
}
