h1 {
  font-family: 'Crafty Girls', cursive;
}


body {
  font-family: 'Lato', sans-serif;
  color: #454851;
  background-color: #e9fae3;
  background-image: url("https://scontent-lht6-1.xx.fbcdn.net/v/t1.15752-9/75348999_2531207027203030_759000289767325696_n.png?_nc_cat=109&_nc_oc=AQk1rpJ0gKYhuJEH0BdT7PDB2DDWDDaINmVqly1vCrZZM9dbYXQw834a40H57Us8hk5_ghSCJrtQrkonpsOV7FWX&_nc_ht=scontent-lht6-1.xx&oh=d3f91e4bfacf46447f415c972041ac02&oe=5E4313C1");
}

hr{
    border-top: 1px dashed black;
}


.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fceff9;
  overflow-x: hidden;
  box-shadow: 10px 10px 5px #b0a7ae;
  border-radius: 0px 10px 10px 0px;
  background-image: url("https://www.transparenttextures.com/patterns/white-tiles.png");


}

.sidenav a:hover {
  background-color: #e2d7e0;
}

.sidenav ul {
    list-style-type: none;
    margin-left: -30px;
}


.sidenav a {
  color: #958b83
;
  padding: 16px;
  text-decoration: none;
  display: block;
}



a, a:link, a:visited {
  color: #454851;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: #fceff9 ;
}



# shop-title {
  padding-left: 16px;
  color: white;

}


.container {
  /* padding: 50px; */
  margin-left: 300px;
  padding-left: 20px;

}
.submit-button {
  display: flex;
}
