h1,h2,h3 {
  font-family: 'Crafty Girls', cursive;
}

body {
  font-family: 'Lato', sans-serif;
  color: #3D533D;
  background-color: #e5efe5;
  background-image: url("https://www.transparenttextures.com/patterns/white-tiles.png");
}

hr{
    border-top: 1px dashed black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: hidden;
  overflow: hidden;
  background-color:#88ba88   ;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #93c093;
}

# low-stock {
  background-color: orange;
}
# out-of-stock {
  background-color: red;
}

.container { padding: 50px;

}
.submit-button {
  display: flex;
}
