h1 {
  font-family: 'Crafty Girls', cursive;
}


body {
  font-family: 'Lato', sans-serif;
  color: #3D533D;
  background-color: #e5efe5;
  background-image: url("https://www.transparenttextures.com/patterns/white-tiles.png");
}

hr{
    border-top: 1px dashed black;
}


.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #88ba88;
  overflow-x: hidden;
}

.sidenav a:hover {
  background-color: #93c093;
}

.sidenav ul {
  list-style-type: none;
}


.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

# shop-title {
  padding-left: 16px;
}


# low-stock {
  background-color: orange;
}
# out-of-stock {
  background-color: red;
}

.container {
  padding: 50px;
  margin-left: 200px;
  padding-left: 20px;

}
.submit-button {
  display: flex;
}
