table.listTable {
  border: 2px solid #7F7770
;
  background-color: #fefdfe
;
  width: 70%;
  text-align: center;
  border-spacing: 0px !important;

}
table.listTable td, table.listTable th {
  border: 1px solid #7F7770
;
  padding: 4px 4px;
}
table.listTable tbody td {
  font-size: 13px;
}
table.listTable th {
  background: linear-gradient(to bottom,#eee8e4 0%, #eae3dd 40%, #e5ddd6 100%);
  font-weight: 200;
  font-size: 15px;

}

table.listTable-2 {
  border: 2px solid #7F7770
;
  background-color: #fefdfe
;
  width: 50%;
  text-align: center;
  border-spacing: 0px !important;
  margin-top: 100px;

}
table.listTable-2 td, table.listTable th {
  border: 1px solid #7F7770
;
  padding: 4px 4px;
}
table.listTable-2 tbody td {
  font-size: 13px;
}
table.listTable-2 th {
  background: linear-gradient(to bottom,#eee8e4 0%, #eae3dd 40%, #e5ddd6 100%);
  font-weight: 200;
  font-size: 15px;

}
